body{
    font-family: 'Trebuchet MS', Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
}

/*Header */
#menu li a {
    font-family: 'Changa One', cursive;
    color: #333333
}
#menu li a:hover{
    color: #2FA0D5;
    background: none;
}
#menu li.active a {
    color: #2FA0D5;
    background: none;
}

#frm-search{
    display: block;
    width: 169px;
    height:32px;

    border: 1px solid #D5d5d5;
    padding: 4px 11px 6px;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0 10px;
}

#searchword {
    border: none;
    background: white;
    box-shadow: none;
    padding: 0;
}
#btn-search{
    border: none;
    width: 18px;
    background: url(../images/search_button.png) 0 0 no-repeat;
}

#social a {
    display: inline-block;
    margin-left: 5px;
    font-size: 0;
    height: 25px;
    width: 27px;
    cursor: pointer;
}

#social a.twitter{
    background: url(../images/twitter.png) 0 0 no-repeat;
}

#social a.twitter:hover{
    background: url(../images/twitter_active.png) 0 0 no-repeat;
}

#social a.facebook{
    background: url(../images/facebook.png) 0 0 no-repeat;
}

#social a.facebook:hover {
    background: url(../images/facebook_active.png) 0 0 no-repeat;

}

#banner {
    background: url(../images/bg_slider.gif) center bottom repeat;
    color: white;
    padding: 110px 0 40px;
}

#banner h4 {
    font-size: 60px;
    line-height: 60px;
    font-family: 'Changa One', cursive;
    font-weight: 900;
    letter-spacing: 1px;;

}

#btn-menu {
    display: inline-block;
    font: 30px 'Changa One', cursive;
    background-color: #FA97C2;
    line-height: 36px;
    padding: 14px 62px;
    border-radius: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 30px 0;
    color: white;
}
#dots {
    list-style: none;
    padding: 0;
    /* text-align: center; */
    height: 19px;
    line-height: 19px;
}

#dots li {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    text-align: left;
    text-indent: 9999px;
    background: white;
    margin: 0 2px;
    position: relative;
}

#dots li span {
    border-radius: 9px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    left: 5px;    
}

#dots li.active span, #dots li:hover span{
    box-shadow: 0;
    background: #73c926;
}

#aaaa{
    width: 9px;
}

/*Header */
